html,
body {
  margin: 0;
  background: #fff;
  color: #000;
  font-family: Roboto;
}

.title {
  text-align: center;
  background-color: #7952b3;
  color: #fff;
  padding: 20px;
  font-weight: 500;
  font-size: 25px;
}

.deck-image {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#player-decks,
#computer-decks {
  height: 240px;
}
